#wall .tag-1 {
  display: none;
}

#wall div#tag-2 {
    display: none;
}

html body div#wall div#tag-3.slick.wicked {
    display: none;
}

#wall .parent div#tag-4 {
    display: none;
}

#wall .parent div div#tag-7.slick {
    display: none;
}

#wall .parent div#tag-5.slick {
    display: none;
}

html body div div div div#tag-6 {
    display: none;
}